.wrapper-body-content {
  overflow: initial;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  scroll-behavior: smooth;
}
.box-movies {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.3s linear;
  gap: 10px;
}
.item-movie {
  flex: 0 0 calc(100vw / 4.5 - 10px);
}

.box-img {
  position: relative;
  padding-bottom: 56.25%;
  cursor: pointer;
}

.img-movie {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}

/* Mobile styles */
@media only screen and (max-width: 720px) {
  .item-movie {
    flex: 0 0 calc(100vw / 2.5 - 10px);
  }
}

@media only screen and (max-width: 300px) {
  .item-movie {
    flex: 0 0 calc(100% - 10px);
  }
}

@media only screen and (min-width: 720px) and (max-width: 1000px) {
  .item-movie {
    flex: 0 0 calc(100vw / 3.5 - 10px);
  }
}

/* Tablet styles */
@media only screen and (min-width: 769px) and (max-width: 1999px) {
  .item-movie-vertical {
  }
}
