.wrapper-body-slide {
  margin-bottom: 20px;
}
.wrapper-banner-slide {
  height: auto;
}
.wrapper-body-slide-top {
  position: relative;
}
.wrapper-body-slide-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none; /* Không ảnh hưởng đến sự kiện chuột */
}
.box-img {
  position: relative;
  padding-bottom: 36.85%;
}
.img-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper-position {
  position: absolute;
  top: 0;
  max-width: calc(100vw - 60vw);
  padding: 16px;
  max-height: 100%;
  z-index: 2;
}

.wrapper-position-img {
  height: 7vw;
  position: relative;
}
.position-img {
  height: 100%;
  object-fit: cover;
}

.title {
  line-height: 1.235;
  padding-top: 15px;
  margin: 0px 0px 0.35em;
  font-weight: 500;
  color: var(--color-text);
}

.box-text-p {
  p {
    font-weight: 400;
    font-size: 1.07143rem;
    line-height: 1.5;
    margin: 0;
    color: var(--color-text);
  }
}

.bt {
  height: 50px;
  width: 200px;
  margin-top: 24px;
  border-radius: 7px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--color-green);
    transition: background-color 0.3s linear;
    cursor: pointer;
    .bt-p {
      color: var(--color-text);
    }
    .bt-icon {
      color: var(--color-text);
    }
  }
}
.bt-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.bt-p {
  margin: 0px;
  font-family: Lato, sans-serif;
  font-weight: 600;
  line-height: 1.43;
  font-size: 20px;
}

//slide bottom

.wrapper-body-slide-bottom {
  position: relative;
}

.slide-show-items {
  display: flex;
  overflow: hidden;
  gap: 10px;
  scroll-behavior: smooth;
  cursor: grab;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide-show-item {
  flex: 0 0 calc(100vw / 6 - 10px); /* Các item chiếm 1/6 chiều rộng của container, trừ khoảng cách */
  height: 100%;
  aspect-ratio: 16 / 9;
}

.img-slide {
  border: 3px solid transparent;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.prev-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #121212, transparent);
  width: 2vw;
}
.ic-prev {
  cursor: pointer;
}

.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, transparent, #121212);
  width: 2vw;
}

.ic-next {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .wrapper-body-slide-bottom {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper-position {
    max-width: 100vw;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 2.125rem;
  }
}

@media (min-width: 0px) {
  .title {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  .wrapper-position {
    padding: 10px;
  }
  .title {
    padding-top: 10px;
  }
}

/* Tablet styles */
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .box-text-p {
    display: none;
  }
}

/* Tablet styles */
@media only screen and (max-width: 960px) {
  .box-text-p {
    display: none;
  }
  .bt {
    display: none;
  }
}
